{% if app.request.isXmlHttpRequest %}
    {{ form_row(form.wedstrijd.naam,{ 'attr':{'class':'span6'} }) }}

    {% if form.uitslag is defined %}
        <div class="control-group">

            <table class="punten-confirm form-horizontal">
                <tr>
                    <thead>
                    <th>Positie</th>
                    <th>Renner</th>
                    <th>Ploeg</th>
                    <th>Punten ploeg</th>
                    <th>Punten renner</th>
                    </thead>
                </tr>
                    {% for rows in form.uitslag %}
                <tr>
                    <td>{{ form_widget(rows.positie, { 'attr': {'class': 'span1'} }) }}</td>
                    <td>{{ form_widget(rows.renner) }}</td>
                    <td>{{ form_widget(rows.ploeg) }}</td>
                    <td>{{ form_widget(rows.ploegPunten, { 'attr': {'class': 'span1'} }) }}</td>
                    <td>{{ form_widget(rows.rennerPunten, { 'attr': {'class': 'span1'} }) }}</td>
                </tr>   
                    {% endfor %}
            </table>
        </div>
    {% endif %}
{% endif %}