{% extends '::base.html.twig' %}

{% block title "Nieuwe uitslag" %}

{% block content %}
<form id="uitslag" action="{{ path('admin_uitslag_create') }}" method="POST">
    <div class="control-group"><label/>
        <div class="controls">
            <a class="btn btn-primary" id="refresh">Gegevens ophalen</a>
            <input id="uitslag_submit" style="display: none;" class="btn btn-success" type="submit" value="Opslaan">
        </div>
    </div>
    {{ form_row(form.url,{'attr': {'class':'span6'} }) }}
    {{ form_row(form.wedstrijd.datum)}}
    {{ form_row(form.wedstrijd.uitslagtype,{'attr': {'class':'span4'} })}}
    {{ form_row(form.wedstrijd.seizoen)}}
    {{ form_row(form.referentiewedstrijd,{'attr':{'class':'span6'}}) }}
    <span id="results_ajax">
        <span style="display:none;">{{ form_widget(form.wedstrijd.naam) }}</span>
    {% include "CyclearGameBundle:Uitslag/Admin:_ajaxTemplate.html.twig" with {"form":form} %}
    </span>
</form>

<div class="well">
    <p><img src="/bundles/cycleargame/icons/famfamfam/help.png"> 
        Om een renner aan te passen vul je de CQ-id van de renner in _of_ de naam in dit format [CONTADOR VELASCO Alberto]</p>
    <p><img src="/bundles/cycleargame/icons/famfamfam/help.png"> 
        Als je hier een renner wilt aanpassen die nog niet in de database staat gebruik dan het volledige format "ID [Naam naam]"</p>
</div>

<script type="text/javascript">
$(document).ready(function(){
   
   var $form = $("#uitslag");
   var url = $form.attr('action');
   $("#refresh").on('click', function(event){
       event.preventDefault();
       $("#uitslag_submit").hide();
       $("#results_ajax").html('<div class="control-group"><label class="control-label"></label><div class="controls"><img src="/bundles/cycleargame/img/ajax-loader.gif"></div></div>');
       $.ajax({
           url: url,
           type: "POST",
           data: $form.serialize()
        }).done(function(res){
            $("#uitslag_submit").show();
            $("#results_ajax").html(res);
        }).fail(function(){
            $("#results_ajax").html('<div class="control-group"><label class="control-label"></label><div class="controls"><span class="label label-warning">Warning</span> De uitslagen konden niet worden opgehaald. Probeer het evt. opnieuw.</div></div>');
        });
   });
});

    </script>
{% endblock %}