{% extends '::admin.base.html.twig' %}

{% form_theme form _self %}

{% block _cyclear_gamebundle_uitslagtype_renner_widget %}
    {{ form_widget(form) }}<span class="help-block">
        <img src="/bundles/cycleargame/icons/famfamfam/help.png"> 
        Vul de CQ-id van de renner in _of_ de volledige naam in dit format [CONTADOR VELASCO Alberto] om te wijzigen. Je kunt hier geen nieuwe renner toevoegen.</span>
{% endblock %}

{% block content %}
<h2>Uitslag bewerken</h2>

<form action="{{ path('admin_uitslag_edit', {uitslag:entity.id} ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_uitslag') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}