{% extends '::admin.base.html.twig' %}

{% block title %}Uitslagen index{% endblock %}

{% block content %}
<h1>Uitslagen list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Renner</th>
            <th>Punten</th>
            <th>Wedstrijd</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr>
            <td><a href="{{ path('admin_uitslag', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.renner }}</td>
            <td>{{ entity.punten }}</td>
            <td>{{ entity.wedstrijd.naam }}</td>
            <td>{{ entity.datum|date('d-m-Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ pagination.render()|raw }}
</div>

<ul>
    <li>
        <a href="{{ path('admin_uitslag_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}