{% extends '::admin.base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
<h3>Users</h3>

<table class="records_list table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Lastlogin</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.hasRole("ROLE_ADMIN") %}1{% endif %}{# entity.roles #}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_user_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}