{% extends '::admin.base_normal.twig' %}

{% block title %}Ploeg index{% endblock %}

{% block content %}
    <h3>Ploegen</h3>
    <form class="adminfilter" action="{{ path('admin_ploeg') }}" method="post" {{ form_enctype(filter) }}>
        {{ form_widget(filter) }}
        <button class="btn btn-default" type="submit">Zoek</button>
    </form>
    <table class="table table-bordered table-striped">

        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Afkorting</th>
            <th>Seizoen</th>
            <th>&nbsp;</th>
        </tr>


        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_ploeg_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.naam }}</td>
                <td>{{ entity.afkorting }}</td>
                <td>{{ entity.seizoen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_ploeg_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

    </table>
    <div id="navigation">
        {{ knp_pagination_render(entities, null, {}, {'firstPageRoute': 'admin_ploeg'}) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('admin_ploeg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}