<!DOCTYPE html>
<html lang="nl" ng-app="Cyclear">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="wielrennen, wielersite, wielerspel, spel, wielerploegen, punten scoren, punten, scoren, wielrenners, 20 renners per ploeg, verschillende ploegen, cyclear, Cyclear, CYCLEAR, cyclea, yclear, wielerseizoen, koersen, coureurs" />
    	<meta name="description" content="Cyclear is een leuk spel voor mensen die van wielrennen houden, waarbij deelnemers een unieke ploeg samenstellen van twintig wielrenners die in alle wielerwedstrijden gedurende een heel seizoen punten scoren." />
        <title>{% block title %}Cyclear{% endblock %}{% if is_granted("ROLE_ADMIN") %} - Adminstrator{% else %}{% if is_granted("ROLE_USER") %} - User {% endif %}{% endif %}</title>

        {% if app.request.isXmlHttpRequest == false %}

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output='css/twitter.css'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap-responsive.css'
                'bundles/cycleargame/css/jquery-ui-1.8.16.custom.css'
                'bundles/cycleargame/css/sticky-footer.css'
            %}
            {% if is_mobile_view() %}
                <link rel="stylesheet" href="{{ asset('bundles/cycleargame/css/mobile-tweaks.css') }}" media="all" />
            {% endif %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}

            {% stylesheets filter='cssrewrite' output='css/custom.css'
            'bundles/cycleargame/css/bootstrap-custom.css'
            'bundles/cycleargame/css/development.css'%}
            <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}

        {% endblock %}
        {% block javascripts %}
        {% javascripts output='js/cyclear.js'
                '@CyclearGameBundle/Resources/public/js/lib/jquery.1.8.3.min.js'
                '@CyclearGameBundle/Resources/public/js/lib/angularjs.1.1.5.min.js'
                '@CyclearGameBundle/Resources/public/js/lib/angular-locale_nl-nl.js'
                '@CyclearApplicationBundle/Resources/public/js/*.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/js/bootstrap.min.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/js/bootstrap-dropdown.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/js/bootstrap-tab.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/js/bootstrap-tooltip.js'
                '@CyclearGameBundle/Resources/public/js/*.js'
                '@CyclearGameBundle/Resources/public/js/*/*.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

            {% endblock %}
            {% block horizontaljs %}
            <script type="text/javascript">
                $(document).ready( function(){
                    $('.dropdown-toggle').dropdown();
                    var $thisform = $(this).find('form')
                    $thisform.addClass('form-horizontal');
                });
            </script>
            {% endblock %}
            {% block buttonjs %}
            <script type="text/javascript">
                    var $button = $(this).find('button')
                    $button.addClass('btn');
                    var $lastgroup = $(this).find('fieldset').last('div.controls');
                    var $newlastgroup = $('<div/>').appendTo($lastgroup);
                    $newlastgroup.addClass('controls');
                    $button.clone().appendTo($newlastgroup);
                    $button.remove();
            </script>
            {% endblock %}
        {% endif %}
            <link rel="shortcut icon" href="{{ asset('favicon.png') }}?v=dfj3gg" />
            <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38459440-1']);
            _gaq.push(['_setDomainName', 'cyclear.nl']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

          </script>
    </head>
    <body>
       <div id="wrap">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner ">
                    <div class="container">
                        <a class="brand" href="/">Cyclear</a>
                        <ul class="nav" role="navigation">
                            <li><a href="http://www.cyclear.nl/forum" target="_blank">Forum</a></li>
                            {% if app.request.attributes.get('seizoen') %}
                                <li><a href="{{ path('get_season_riders', {'seizoen':app.request.attributes.get('seizoen')} ) }}">Renners</a></li>
                            {% else %}
                                <li><a href="{{ path('get_riders') }}">Renners</a></li>
                            {% endif %}
                                <li><a href="{{ path('archief_index') }}">Archief</a></li>
                                {%- if app.request.attributes.get('seizoen-object') and app.request.attributes.get('seizoen-object').id != app.request.attributes.get('current-seizoen').id %}
                                <li><a style="color:#0088cc;" href="{{ path("game",{"seizoen":app.request.attributes.get('seizoen-object').slug}) }}">{{ app.request.attributes.get('seizoen-object') }}</a></li>{% endif -%}
                        {% if is_granted("ROLE_USER") %}
                            {% include 'CyclearGameBundle:Default/User:inc_menu.html.twig' %}
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            {% include 'CyclearGameBundle:Default/Admin:inc_menu.html.twig' %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>




            <div class="container">

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}

                {% block content %}
                    {% block fos_user_content %}{% endblock %}
                {% endblock %}
            </div>
            <div id="push"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="muted credit">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                <a class="btn" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
               {% else %}
                    <a class="btn" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                    <a class="btn" href="{{ path('fos_user_resetting_request') }}">Wachtwoord vergeten?</a>
               {% endif %}
                    {% if app.request.attributes.get('seizoen-object') %}
                    <a class="btn" href="{{ path('spelregels_index',{'seizoen':app.request.attributes.get('seizoen-object').slug}) }}">Spelregels</a>
                    {% endif %}
                    <a class="btn" href="https://github.com/ErikTrapman" target="_blank">github.com/Cyclear</a>
                    <span class="badge">0.7.0 [27-07-2014]</span>
               </p>
            </div>
        </div>
    </body>
</html>