<!DOCTYPE html>
<html lang="nl" ng-app="Cyclear">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="wielrennen, wielersite, wielerspel, spel, wielerploegen, punten scoren, punten, scoren, wielrenners, 20 renners per ploeg, verschillende ploegen, cyclear, Cyclear, CYCLEAR, cyclea, yclear, wielerseizoen, koersen, coureurs"/>
    <meta name="description"
          content="Cyclear is een leuk spel voor mensen die van wielrennen houden, waarbij deelnemers een unieke ploeg samenstellen van twintig wielrenners die in alle wielerwedstrijden gedurende een heel seizoen punten scoren."/>
    <title>{% block title %}Cyclear{% endblock %}{% if is_granted("ROLE_ADMIN") %} - Adminstrator{% else %}{% if is_granted("ROLE_USER") %} - User {% endif %}{% endif %}</title>
    {% block stylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:800,700,400' rel='stylesheet' type='text/css'>

        {% stylesheets filter='cssrewrite' output='css/cyclear.css'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
        '@CyclearGameBundle/Resources/public/css/lib/unique/style.css'
        '@CyclearGameBundle/Resources/public/css/lib/unique/animate.css'
        'bundles/cycleargame/css/select2.css'
        'bundles/cycleargame/css/select2-bootstrap.css'
        'bundles/bmatznerfontawesome/css/font-awesome.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
        {% endstylesheets %}
        {% if is_mobile_view() %}
            <link rel="stylesheet" href="{{ asset('bundles/cycleargame/css/mobile-tweaks.css') }}" media="all"/>
        {% endif %}
        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="{{ asset('bundles/cycleargame/css/development.css') }}" media="all"/>
        {% endif %}



    {% endblock %}
    {% block javascripts %}
        {% javascripts output='js/cyclear.js'
        '@CyclearGameBundle/Resources/public/js/lib/jquery/jquery-1.11.3.min.js'
        '@CyclearGameBundle/Resources/public/js/lib/angular/angularjs.1.1.5.min.js'
        '@CyclearGameBundle/Resources/public/js/lib/angular/angular-locale_nl-nl.js'
        '@CyclearGameBundle/Resources/public/js/lib/select2/select2.min.js'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
        '@CyclearGameBundle/Resources/public/js/lib/unique/jquery-scrolltofixed.js'
        '%kernel.root_dir%/../vendor/twitter/typeahead.js/dist/typeahead.jquery.min.js'
        '%kernel.root_dir%/../vendor/twitter/typeahead.js/dist/bloodhound.min.js'
        '@CyclearGameBundle/Resources/public/js/*.js'
        '@CyclearGameBundle/Resources/public/js/Controller/Renner/riderlistCtrl.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}"/>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38459440-1']);
        _gaq.push(['_setDomainName', 'cyclear.nl']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        var seizoenSlug = {% if app.request.attributes.has('seizoen') %}'{{ app.request.attributes.get('seizoen').slug }}'
        {% else %}'null'{% endif %};

    </script>
</head>
<body id="cyclear">

<!--Header_section-->
<nav id="main-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cyclear</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="ajax-typeahead form-control" placeholder="Zoek renner..."
                           do-redirect="true">
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="http://www.cyclear.nl/cyclear/forum/index.php" target="_blank">Forum</a></li>
                {% if app.request.attributes.has('seizoen') %}
                    <li>
                        <a href="{{ path('rider_index', {'seizoen':app.request.attributes.get('seizoen').slug} ) }}">Renners</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('archief_index') }}">Archief</a></li>


                {% set seizoen = app.request.attributes.get('seizoen') %}
                {% set curSeizoen = getCurrentSeason() %}
                {%- if seizoen and curSeizoen and seizoen.id != curSeizoen.id %}
                    <li><a style="color: #860087"
                           href="{{ path("game",{"seizoen":app.request.attributes.get('seizoen').slug}) }}">{{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                {% endif -%}
                {% if is_granted("ROLE_USER") %}
                    {% include 'CyclearGameBundle:Default/User:inc_menu.html.twig' %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    {% include 'CyclearGameBundle:Default/Admin:inc_menu.html.twig' %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header_section-->

{% block contentcontainer %}
    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}
{% endblock %}

<div id="footer">
    <div class="row">

        <div class="col-lg-4 col-md-offset-2">
            <div>
                <h1 style="margin-top:0;">Cyclear <span class="badge">{{ version }}</span></h1>
                <a href="https://twitter.com/Cyclear" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
                <a href="https://github.com/ErikTrapman" target="_blank"><i class="fa fa-2x fa-github"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <ul style="text-decoration: underline">
                {% if app.request.attributes.has('seizoen') %}
                    <li>
                        <a
                                href="{{ path('spelregels_index',{'seizoen':app.request.attributes.get('seizoen').slug}) }}">Spelregels {{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="http://www.cyclear.nl/cyclear/forum/index.php" target="_blank">Forum</a>
                </li>
                {% if app.request.attributes.has('seizoen') %}
                    <li>
                        <a href="{{ path('rider_index', {'seizoen':app.request.attributes.get('seizoen').slug} ) }}">Renners</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('archief_index') }}">Archief</a></li>

                {% set seizoen = app.request.attributes.get('seizoen') %}
                {% set curSeizoen = getCurrentSeason() %}
                {%- if seizoen and curSeizoen and seizoen.id != curSeizoen.id %}
                    <li><a style="color: #860087"
                           href="{{ path("game",{"seizoen":app.request.attributes.get('seizoen').slug}) }}">{{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                {% endif -%}
                {% if is_granted("ROLE_USER") %}
                    {% include 'CyclearGameBundle:Default/User:inc_menu.html.twig' %}
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
</body>
</html>