{% extends '::admin.base.html.twig' %}

{% block content %}
<h3>Spelregels</h3>

<table class="records_list table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Seizoen</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_spelregels_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.seizoen.identifier }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_spelregels_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_spelregels_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}