{% extends '::base.html.twig' %}

{% block title %}{{ renner.naam }}{% endblock %}

{% block content %}

<h2>
<div>
<span>{% include "CyclearGameBundle:Country:_image.html.twig" with {'size':32,'country':renner.country } %}{{ renner.naam }}
{% if ploeg is not null %} - {{ ploeg.afkorting }}{% else %} - vrij{% endif %}
{% include "CyclearGameBundle:Renner:_singleRowActions.html.twig" with {"renner":renner,"rennerPloeg":ploeg, "seizoen":seizoen } %}
<a href="http://cqranking.com/men/asp/gen/rider.asp?riderid={{ renner.cqranking_id }}">
    <img src="/bundles/cycleargame/icons/cqlogo.jpg" width="32" height="32"></a>
<a href="http://www.procyclingstats.com/find.php?keywords={{ renner.naam }}">
    <img src="/bundles/cycleargame/icons/pcs-icon.png" width="32" height="32"></a>
</span>
</div>
</h2>

<h3>Uitslagen</h3>
{% include "CyclearGameBundle:Uitslag:_listRenner.html.twig" with {'uitslagen':uitslagen,'show_rider':false,'rennerPunten':rennerPunten} %}
<h3>Transfers</h3>
{% include "CyclearGameBundle:Transfer:_riderListWithInversion.html.twig" with {'listWithInversion':transfers} %}
{% endblock %}