
{{ form_row(form.cq_wedstrijdid) }}
{{ form_row(form.url,{'attr': {'class':'span6'} }) }}
{{ form_row(form.wedstrijd.datum)}}
{{ form_row(form.wedstrijd.uitslagtype,{'attr': {'class':'span4'} })}}
{{ form_row(form.wedstrijd.seizoen)}}
{{ form_row(form.referentiewedstrijd,{'attr':{'class':'span6'}}) }}
{% if form.uitslag is not defined %}
<span style="display:none;">{{ form_widget(form.wedstrijd.naam) }}</span>
{% else %}
{{ form_row(form.wedstrijd.naam,{ 'attr':{'class':'span6'} }) }}
{% endif %}

<div class="uitslagen">
{% if form.uitslag is defined %}
    <div class="control-group">
        <label class="control-label">Punten</label>
        <div class="controls">
            <table class="punten-confirm">
                <tr>
                    <thead>
                        <th>Positie</th>
                        <th>Renner</th>
                        <th>Ploeg</th>
                        <th>Punten</th>
                        <th>Punten-renner</th>
                    </thead>
                </tr>
                {% for rows in form.uitslag %}
                <tr>
                    <td>{{ form_widget(rows.positie, { 'attr': {'class': 'positie'} }) }}</td>
                    <td>{{ form_widget(rows.renner) }}</td>
                    <td>{{ form_widget(rows.ploeg) }}</td>
                    <td>{{ form_widget(rows.ploegPunten, { 'attr': {'class': 'punten'} }) }}</td>
                    <td>{{ form_widget(rows.rennerPunten, { 'attr': {'class': 'punten'} }) }}</td>
               </tr>   
                {% endfor %}
            </table>
        </div>
        </div>
{% endif %}
</div>
<style type="text/css">
        table.punten-confirm input.positie, table.punten-confirm input.punten { width: 40px; }
</style>