{% extends '::base.html.twig' %}
{% block content %}

<div class="row">
    <div class="span5">
        <div class="hero-unit">
            {% if nieuws is not null %}
                <h2>{{ nieuws.titel }}</h2>
                <p style="font-size:70%">{{ nieuws.content|nl2br }}</p>
            {% endif %}
        </div>
    </div>
    <div class="span7">
        
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#stand">Stand</a></li>
            <li><a href="#periode">Periode</a></li>
            <li><a href="#zeges">Zeges</a></li>
            <li><a href="#transfers">Transfers</a></li>
            <li><a data-toggle="tab" href="#draft-klass">Draftklassement</a></li>
            <li><a data-toggle="tab" href="#transfer-klass">Transferklassement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="stand">
                {% render "CyclearGameBundle:Uitslag:viewByPloegen" with {"seizoen": seizoen.slug } %}
            </div>
            <div class="tab-pane" id="periode">
                <img src="/bundles/cycleargame/img/ajax-loader.gif">
            </div>
            <div class="tab-pane" id="transfers">
                <img src="/bundles/cycleargame/img/ajax-loader.gif">
            </div>
            <div class="tab-pane" id="zeges">
                <img src="/bundles/cycleargame/img/ajax-loader.gif">
            </div>
            <div class="tab-pane" id="draft-klass">
                <img src="/bundles/cycleargame/img/ajax-loader.gif">
            </div>
            <div class="tab-pane" id="transfer-klass">
                <img src="/bundles/cycleargame/img/ajax-loader.gif">
            </div>
        </div>
        
    </div>    
</div>


<script type="text/javascript">
    
    $('#tabs a[href="#stand"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    $('#tabs a[href="#periode"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.ajax({ // TODO JS-route gebruiken
            url: "/game/{{seizoen.slug}}/uitslag/periode/{{periode.id}}"
        }).done(function(data){
            $("#periode").html(data);
        }).fail(function(){
            $("#periode").html('<p>Er ging iets fout...</p>');
        });
    })
    $('#tabs a[href="#transfers"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.ajax({ // TODO JS-route gebruiken
            url: "/game/{{seizoen.slug}}/transfer/latest"
        }).done(function(data){
            $("#transfers").html(data);
        }).fail(function(){
            $("#transfers").html('<p>Er ging iets fout...</p>');
        });
    })
    
    $('#tabs a[href="#zeges"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.ajax({ // TODO JS-route gebruiken
            url: "/game/{{seizoen.slug}}/uitslag/zeges"
        }).done(function(data){
            $("#zeges").html(data);
        }).fail(function(){
            $("#zeges").html('<p>Er ging iets fout...</p>');
        });
    })
    
    $('#tabs a[href="#draft-klass"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.ajax({ // TODO JS-route gebruiken
            url: "/game/{{seizoen.slug}}/uitslag/draft-klassement"
        }).done(function(data){
            $("#draft-klass").html(data);
        }).fail(function(){
            $("#draft-klass").html('<p>Er ging iets fout...</p>');
        });
    });
    $('#tabs a[href="#transfer-klass"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.ajax({ // TODO JS-route gebruiken
            url: "/game/{{seizoen.slug}}/uitslag/transfer-klassement"
        }).done(function(data){
            $("#transfer-klass").html(data);
        }).fail(function(){
            $("#transfer-klass").html('<p>Er ging iets fout...</p>');
        });
    });
    

    
</script>
{% endblock %}