{% extends '::admin.base_normal.twig' %}

{% block content -%}
    <h1>Badge edit</h1>

    {{ form(edit_form) }}
    {% if entity.image %}
        <img src="{{ vich_uploader_asset(entity, 'imageFile') }}" alt="{{ entity.name }}"/>
    {% endif %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('badge') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
