{% extends '::admin.base_normal.twig' %}

{% block content %}
    <h3>Periode edit</h3>

    <form action="{{ path('admin_periode_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-default" type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_periode') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_periode_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-default" type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}