{% block content %}
    <script type="text/javascript">
        function toggleResults(e, id) {
            e.preventDefault();
            $(".results_match_" + id).toggle();
        }
    </script>
    <table class="table table-bordered">
        <tr>
            <th class="hidden-xs hidden-sm">Datum</th>
            <th colspan="99">Uitslagen</th>
        </tr>

        {% for wedstrijd in wedstrijden %}
            <tr>
                <td class="hidden-xs hidden-sm">
                    {{ wedstrijd.datum|format_datetime(pattern='dd MMM') }}
                </td>
                <td colspan="{% if wedstrijd.generalClassification %}4{% else %}6{% endif %}">
                    <a href="javascript:void(0);"
                       onclick="toggleResults(event, {{ wedstrijd.id }})">{{ wedstrijd.naam }}</a>

                </td>
                {% if wedstrijd.generalClassification %}
                    <td>
                        <a href="{{ path('wedstrijd_show', {seizoen: seizoen.slug, wedstrijd: wedstrijd.id}) }}">Meer</a>
                    </td>
                {% endif %}
            </tr>
            <tr class="results_match_{{ wedstrijd.id }}" style="display:none; background-color: #f9f9f9">
                {# Punten    #    Renner #}
                <th>
                    <span class="hidden-xs hidden-sm">Punten</span>
                    <span class="hidden-md hidden-lg">P</span>
                </th>
                <th>#</th>
                <th>Renner</th>
                <th colspan="3">Ploeg</th>
            </tr>
            {% for uitslag in wedstrijd.uitslagen %}
                <tr class="results_match_{{ wedstrijd.id }}" style="display: none;">
                    <td>
                        {{ include('uitslag/_singlePoints.html.twig', {uitslag: uitslag}) }}
                    </td>
                    <td>
                        {{ '%02d'|format(loop.index) }}
                    </td>
                    <td>
                        {{ include('renner/_singleRow.html.twig', {renner: uitslag.renner, seizoen: uitslag.wedstrijd.seizoen}) }}
                        {% if uitslag.ploeg %}
                            {% if not rennerRepo.isDraftTransfer(uitslag.renner, uitslag.ploeg) %}
                                <sup><i data-toggle="tooltip" title="Transfer" class="fa fa-euro"></i></sup>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="3">
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.afkorting }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr class="results_match_{{ wedstrijd.id }}" style="display:none; background-color: #f9f9f9">
                {# Punten    #    Renner #}
                <th>
                    <span class="hidden-xs hidden-sm">Punten</span>
                    <span class="hidden-md hidden-lg">P</span>
                </th>
                <th>#</th>
                <th>Renners</th>
                <th colspan="3">Ploeg</th>
            </tr>
            {% for uitslag in wedstrijd.getUitslagenGrouped(true) %}
                <tr class="results_match_{{ wedstrijd.id }}" style="display: none;">
                    <td>{{ uitslag.total }}</td>
                    <td>{{ uitslag.hits }}x</td>
                    <td>
                        {% if uitslag.renners %}
                            {% for uitslag_renner in uitslag.renners %}
                                {{ include('renner/_singleRow.html.twig', {renner: uitslag_renner.renner, seizoen: wedstrijd.seizoen}) }}{% if not loop.last %}|{% endif %}
                            {% endfor %}
{# <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.naam }}</a> #}
                        {% endif %}
                    </td>
                    <td colspan="3">
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.afkorting }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}

    </table>
{% endblock %}
