{% block content %}
    <script type="text/javascript">
        function toggleResults(e, id) {
            e.preventDefault();
            $(".results_match_" + id).toggle();
        }
    </script>
    <table class="table table-bordered">
        <tr>
            <th class="hidden-xs hidden-sm">Datum</th>
            <th colspan="99">Uitslagen</th>
        </tr>

        {% for wedstrijd in wedstrijden %}
            <tr>
                <td class="hidden-xs hidden-sm">
                    {{ wedstrijd.datum|date('d M') }}
                </td>
                <td colspan="{% if wedstrijd.generalClassification %}4{% else %}6{% endif %}">
                    <a href="javascript:void(0);"
                       onclick="toggleResults(event, {{ wedstrijd.id }})">{{ wedstrijd.naam }}</a>

                </td>
                {% if wedstrijd.generalClassification %}
                    <td>
                        <a href="{{ path('wedstrijd_show', {seizoen: seizoen.slug, wedstrijd: wedstrijd.id}) }}">Meer</a>
                    </td>
                {% endif %}
            </tr>
            {% for uitslag in wedstrijd.uitslagen %}
                <tr class="results_match_{{ wedstrijd.id }}" style="display: none;">
                    <td>{{ "%02d"|format(loop.index) }}</td>
                    <td class="hidden-xs hidden-sm">
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.naam }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.afkorting }}</a>
                        {% endif %}
                    </td>
                    <td colspan="2">{% include "renner/_singleRow.html.twig" with {renner: uitslag.renner, seizoen: uitslag.wedstrijd.seizoen} %}</td>
                    <td>{% include 'uitslag/_singlePoints.html.twig' with {uitslag: uitslag} %}</td>
                </tr>
            {% endfor %}
            <tr class="results_match_{{ wedstrijd.id }}" style="display: none;">
                <td colspan="99"/>
            </tr>
            {% for uitslag in wedstrijd.getUitslagenGrouped %}
                <tr class="results_match_{{ wedstrijd.id }}" style="display: none;">
                    <td>{{ "%02d"|format(loop.index) }}</td>
                    <td class="hidden-xs hidden-sm">
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.naam }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if uitslag.ploeg %}
                            <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen: seizoen.slug}) }}">{{ uitslag.ploeg.afkorting }}</a>
                        {% endif %}
                    </td>
                    <td colspan="2">{{ uitslag.hits }}x</td>
                    <td>{{ uitslag.total }}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    </table>
{% endblock %}
