{% extends '::base.html.twig' %}

{% block title %}{{ wedstrijd.naam }} - {{ wedstrijd.datum|date('d-m-Y') }}{% endblock %}


{% block content %}

    <div class="big-header">
        <h2>{{ wedstrijd.naam }}</h2>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                {% include "CyclearGameBundle:Uitslag:_listWedstrijd.html.twig" with {uitslagen:wedstrijd.uitslagen} %}
            </div>
        </div>
    </div>

    <div class="big-header">
        <h2 style="margin-bottom: 0px;">Ploegen
            <a href="#cyclear"><span style="vertical-align: bottom"
                                     class="glyphicon glyphicon-chevron-up"></span></a></h2>
    </div>

    <div class="container">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="hidden-xs hidden-sm" colspan="3">Ploeg</th>
                    <th class="hidden-md hidden-lg" colspan="2">Ploeg</th>
                    <th>Punten</th>
                    <th>Aantal scores</th>
                </tr>

                {% for row in allstages %}
                    <tr>
                        <td>{{ "%02d"|format(loop.index) }}</td>

                        <td class="hidden-xs hidden-sm">
                            <a href="{{ path('ploeg_show',{id:row.ploeg.id, seizoen:seizoen.slug}) }}">{{ row.ploeg.naam }}</a>
                        </td>
                        <td>
                            <a href="{{ path('ploeg_show', {id: row.ploeg.id, seizoen:seizoen.slug}) }}">{{ row.ploeg.afkorting }}</a>
                        </td>
                        <td>{{ row.total }}</td>
                        <td>
                            {{ row.hits }}x
                        </td>
                    </tr>
                    {% for renner_info in row.renners %}
                        <tr>
                            <td class="hidden-xs hidden-sm"></td>
                            <td colspan="2"><strong>{{ renner_info.renner.naam }}</strong>
                                {{ renner_info.result.wedstrijd }}</td>
                            <td class="hidden-md hidden-lg" colspan="2">{{ renner_info.total }}</td>
                            <td class="hidden-xs hidden-sm">{{ renner_info.total }}</td>
                            <td class="hidden-xs hidden-sm"></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>

            <table class="table table-bordered table-striped">
                {% for uitslag in uitslagen %}
                    <tr>
                        <td>{{ uitslag }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}