{% extends '::admin.base.html.twig' %}

{% block content %}
<h2>Contracten</h2>

<form class="form-inline" action="{{ path('admin_contract') }}" method="post">
    {{ form_widget(filter) }}
    <button type="submit">Zoek</button>
</form>


<table class="records_list table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Renner</th>
            <th>Van</th>
            <th>T/M</th>
            <th>Seizoen</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_contract_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.renner }}</td>
            <td>{{ entity.start | date('d-m-Y H:i:s') }}</td>
            <td>{% if entity.eind %}{{ entity.eind | date('d-m-Y H:i:s') }}{% endif %}</td>
            <td>{{ entity.seizoen }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_contract_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="navigation">
    {{ knp_pagination_render(entities, null, {}, {'firstPageRoute': 'admin_contract'}) }}
</div>
<ul>
    <li>
        <a href="{{ path('admin_contract_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}