{% block content %}
<table class="records_list table ">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Wedstrijd</th>
            <th>Renner</th>
            <th>Punten</th>
        </tr>
    </thead>
    <tbody>
    {% for uitslag in uitslagen %}
        <tr>
            <td>{{ uitslag.wedstrijd.datum|date('d-m-Y') }}</td>
            <td><a href="{{ path('wedstrijd_show',{wedstrijd:uitslag.wedstrijd.id,seizoen:uitslag.wedstrijd.seizoen}) }}">{{ uitslag.wedstrijd.naam }}</a></td>
            <td>{{ uitslag.renner.naam }}</td>
            <td>{{ uitslag.ploegPunten }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="navigation">
    {{ knp_pagination_render(uitslagen) }}
</div>
{% endblock %}