{% block content %}
<table class="records_list table ">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Wedstrijd</th>
            <th>Renner</th>
            <th>Ploeg</th>
            <th>Punten</th>
            <th>Renner punten</th>
        </tr>
    </thead>
    <tbody>
    {% for uitslag in uitslagen %}
        <tr>
            <td>{{ uitslag.datum|date('d-m-Y') }}</td>
            <td>{{ uitslag.wedstrijd.naam }}</td>
            <td>{{ uitslag.renner.naam }}</td>
            <td>{{ uitslag.ploeg }}</td>
            <td>{{ uitslag.ploegPunten }}</td>
            <td>{{ uitslag.rennerPunten }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="navigation">
    {{ uitslagen.render()|raw }}
</div>
{% endblock %}