{% block content %}
<table class="records_list table table-condensed ">
    <thead>
        <tr>
            <th/>
            <th>Ploeg</th>
            <th/>
            <th>Punten</th>
            {% if transferRepo is defined %}
            <th>Transfers</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for ploeg in list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ ploeg.naam }}</td>
            <td>{{ ploeg.afkorting }}</td>
            <td>{{ ploeg.punten }}</td>
            {% if transferRepo is defined %}
            <td>{{ transferRepo.getTransferCountForUserTransfer(ploeg.id, periode.start, periode.eind) }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}