{% extends '::admin.base.html.twig' %}

{% block content %}
<h2>Perioden</h2>

<table class="records_list table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>Eind</th>
            <th>Transfers</th>
            <th>Seizoen</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_periode_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.eind|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.transfers }}</td>
            <td>{{ entity.seizoen }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_periode_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_periode_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}