<li><a href="{{ path('admin_uitslag_create') }}">Nieuwe uitslag</a></li>
<li><a href="{{ path('admin_transfer_new') }}">Nieuwe transfer</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Configuratie
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('admin_contract') }}">Contracten</a></li>
        <li><a href="{{ path('admin_user') }}">Gebruikers</a></li>
        <li><a href="{{ path('admin_nieuws') }}">Nieuws</a></li>
        <li><a href="{{ path('admin_periode') }}">Periodes</a></li>
        <li><a href="{{ path('admin_ploeg') }}">Ploegen</a></li>
        <li><a href="{{ path('admin_renner') }}">Renners</a></li>
        <li><a href="{{ path('admin_seizoen') }}">Seizoen</a></li>
        <li><a href="{{ path('admin_spelregels') }}">Spelregels</a></li>
        <li><a href="{{ path('admin_transfer') }}">Transfers</a></li>
        <li><a href="{{ path('admin_uitslag') }}">Uitslagen</a></li>
        <li><a href="{{ path('admin_uitslagtype') }}">Uitslag type</a></li>
        <li><a href="{{ path('admin_wedstrijd') }}">Wedstrijden</a></li>
    </ul>
</li>