{% block content %}
    {% set show = show is defined ? show : 'ploegPunten' %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                <span class="hidden-xs hidden-sm">Punten</span>
                <span class="hidden-md hidden-lg">P</span>
            </th>
            <th>#</th>
            <th>Renner</th>
            <th>Wedstrijd</th>
            <th class="hidden-xs hidden-sm">Datum</th>

        </tr>

        {% for uitslag in uitslagen %}

            <tr>
                <td nowrap>
                    {% if show == 'rennerPunten' %}{{ uitslag.rennerPunten }}{% else %}{{ uitslag.ploegPunten }}{% endif %}
                </td>
                <td>{{ uitslag.positie }}</td>
                <td>
                    {{ uitslag.renner.naam }}
                    {% if not rennerRepo.isDraftTransfer(uitslag.renner, entity) %}
                        <sup><i data-toggle="tooltip" title="Transfer" class="fa fa-euro"></i></sup>
                    {% endif %}
                </td>
                <td>
                    {{ include('wedstrijd/_singleRow.html.twig', {wedstrijd: uitslag.wedstrijd, seizoen: uitslag.wedstrijd.seizoen}) }}
                    {# <a href="{{ path('wedstrijd_show',{wedstrijd:uitslag.wedstrijd.id,seizoen:uitslag.wedstrijd.seizoen}) }}">{{ uitslag.wedstrijd.naam }}</a> #}
                </td>
                <td class="hidden-xs hidden-sm">{{ uitslag.wedstrijd.datum|format_datetime(pattern='dd MMM') }}</td>

            </tr>
        {% endfor %}

    </table>
    <div id="navigation">
        {{ knp_pagination_render(uitslagen, null, {seizoen: seizoen.slug}) }}
    </div>
{% endblock %}
