{% extends 'base.html.twig' %}

{% block title "Overzicht" %}

{% block content %}

    <div class="big-header">
        <h2>Transfer</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include "uitslag/viewByUserTransfer.html.twig" with {
                "list": transfer,'gained': shadowgained,'lost':shadowlost,'transferRepo': transferRepo } %}
            </div>

        </div>
    </div>


    <div class="big-header">
        <h2>Draft</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include "uitslag/viewByDraftTransfer.html.twig" with {"list": draft } %}
            </div>
        </div>
    </div>

    <div class="big-header">
        <h2>Beste transfers</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <table class="table table-bordered table-striped">

                    <tr>
                        <th class="hidden-xs hidden-sm" colspan="3">Ploeg</th>
                        <th class="hidden-md hidden-lg" colspan="2">Ploeg</th>
                        <th>Renner</th>
                        <th>Punten</th>
                    </tr>


                    {% for row in bestTransfers %}
                        <tr>
                            <td>{{ "%02d"|format(loop.index) }}</td>
                            <td class="hidden-xs hidden-sm">
                                <a href="{{ path('ploeg_show',{id:row.team.id, seizoen:seizoen.slug}) }}">{{ row.team.naam }}</a>
                            </td>
                            <td>
                                <a href="{{ path('ploeg_show', {id: row.team.id, seizoen:seizoen.slug}) }}">{{ row.team.afkorting }}</a>
                            </td>
                            <td>
                                {% include 'renner/_singleRow.html.twig' with {renner: row.rider } %}
                            </td>
                            <td>{{ row.points }}</td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>

{% endblock %}
