{% block content %}
    <table class="table table-bordered">
        {% for uitslag in uitslagen %}
            <tr>
                <td>{{ "%02d"|format(loop.index) }}</td>
                <td class="hidden-xs hidden-sm">
                    {% if uitslag.ploeg %}
                        <a href="{{ path('ploeg_show',{id:uitslag.ploeg.id, seizoen:seizoen.slug}) }}">{{ uitslag.ploeg.naam }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if uitslag.ploeg %}
                        <a href="{{ path('ploeg_show', {id: uitslag.ploeg.id, seizoen:seizoen.slug}) }}">{{ uitslag.ploeg.afkorting }}</a>
                    {% endif %}
                </td>
                <td colspan="2">{% include "CyclearGameBundle:Renner:_singleRow.html.twig" with {renner:uitslag.renner,seizoen:uitslag.wedstrijd.seizoen } %}</td>
                <td>{% include '@CyclearGame/Uitslag/_singlePoints.html.twig' with {uitslag: uitslag} %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
