{% block content %}
    <table class="table table-bordered table-striped">

        <tr>
            <th colspan="3">Ploeg</th>
            <th colspan="3">Punten</th>
        </tr>


        {% for ploeg in list %}
            {% set id = ploeg.id %}
            <tr>
                <td>{{ "%02d"|format(loop.index) }}</td>
                <td class="hidden-xs hidden-sm"><a href="{{ path('ploeg_show', {id: ploeg.id, seizoen:seizoen.slug}) }}">{{ ploeg.naam }}</a></td>
                <td>{{ ploeg.afkorting }}</td>
                <td>{{ ploeg.punten }}</td>

                <td style="color:green;">
                    +{{ shadowgained[id] }}</td>
                <td style="color:red">
                    -{{ shadowlost[id] }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}