{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="3">Ploeg</th>
            <th>Punten</th>
            {% if transferRepo is defined %}
                <th>Transfer</th>
            {% endif %}
            {% if positionCount is defined %}
                <th>Zeges</th>
            {% endif %}
        </tr>
        {% for ploeg in list %}
            <tr>
                <td>{{ "%02d"|format(loop.index) }}</td>
                <td>{{ ploeg.naam }}</td>
                <td>{{ ploeg.afkorting }}</td>
                <td>{{ ploeg.punten }}</td>
                {% if transferRepo is defined %}
                    <td>{{ transferRepo.getTransferCountForUserTransfer(ploeg.id, periode.start, periode.eind) }}
                        {% if transferpoints is defined %}
                            [{% if transferpoints[ploeg.id] > 0 %}+{% endif %}{{ transferpoints[ploeg.id] }}]
                        {% endif %}
                    </td>
                {% endif %}
                {% if positionCount is defined %}
                    <td>{{ positionCount[ploeg.id] }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}