{% set includePagination = includePagination is defined ? includePagination : false %}
{% set fromTeamPage = fromTeamPage is defined ? fromTeamPage : false %}
{% block content %}

    <table class="table table-bordered table-striped">
        <tr>
            {% if not fromTeamPage %}
                <th>Ploeg</th>
            {% endif %}
            <th>IN</th>
            <th>UIT</th>
            <th>Datum</th>
        </tr>
        {% for transfer in listWithInversion %}
            <tr>
                {% if not fromTeamPage %}
                    <td>{% if transfer.ploegNaar %}
                            <a href="{{ path('ploeg_show', {id: transfer.ploegNaar.id, seizoen: seizoen.slug}) }}">{{ transfer.ploegNaar.afkorting }}<a/>{% endif %}</td>
                {% endif %}
                <td>{% include "renner/_singleRow.html.twig" with {"renner": transfer.renner, "rennerPloeg": null, "seizoen": transfer.seizoen} %}
                </td>
                <td>{% if transfer.inversionTransfer %}
                        {% include "renner/_singleRow.html.twig" with {"renner": transfer.inversionTransfer.renner, "rennerPloeg": null, "seizoen": transfer.seizoen} %}
                    {% endif %}</td>
                <td>
                    <span data-toggle="tooltip" data-placement="top"
                          title="{{ transfer.datum|date('H:i') }}">{{ transfer.datum|format_datetime(pattern='dd MMM') }}</span>
                </td>
            </tr>
            {% if transfer.userComment %}
                <tr>
                    <td colspan="4">
                        <small>{{ transfer.userComment }}</small>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% if includePagination %}
        <div id="navigation">
            {{ knp_pagination_render(listWithInversion, null, {'seizoen': seizoen.slug}, {'firstPageRoute': firstPageRoute}) }}
        </div>
    {% endif %}
{% endblock %}
