{% set includePagination = includePagination is defined ? includePagination : false %}
{% block content %}
    <table class="table table-bordered table-striped">

        <tr>
            <th/>
            <th>IN</th>
            <th>UIT</th>
            <th/>
        </tr>


        {%- for transfer in listWithInversion %}
            <tr>
                <td>{% if transfer.ploegNaar %}{{ transfer.ploegNaar.afkorting }}
                    {% else %}
                        {{ transfer.ploegVan.afkorting }}{% endif %}
                </td>
                <td>
                    {% if transfer.ploegNaar %}
                        {% include "renner/_singleRow.html.twig" with {"renner":transfer.renner,"rennerPloeg":null, "seizoen":transfer.seizoen } %}
                    {% else %}
                        {% if transfer.inversionTransfer %}
                            {% include "renner/_singleRow.html.twig" with {"renner":transfer.inversionTransfer.renner,"rennerPloeg":null, "seizoen":transfer.seizoen } %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{% if transfer.ploegVan %}
                        {% include "renner/_singleRow.html.twig" with {"renner":transfer.renner,"rennerPloeg":null, "seizoen":transfer.seizoen } %}
                    {% else %}
                        {% if transfer.inversionTransfer %}
                            {% include "renner/_singleRow.html.twig" with {"renner":transfer.inversionTransfer.renner,"rennerPloeg":null, "seizoen":transfer.seizoen } %}
                        {% endif %}
                    {% endif %}</td>
                <td>
                <span data-toggle="tooltip" data-placement="top"
                      title="{{ transfer.datum|date('H:i') }}">{{ transfer.datum|date('d M') }}</span>
                </td>
            </tr>
        {% endfor -%}

    </table>
    {% if includePagination %}
        <div id="navigation">
            {{ knp_pagination_render(listWithInversion, null, {'seizoen': seizoen.slug}, {'firstPageRoute': firstPageRoute}) }}
        </div>
    {% endif %}
{% endblock %}