<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="wielrennen, wielersite, wielerspel, spel, wielerploegen, punten scoren, punten, scoren, wielrenners, 20 renners per ploeg, verschillende ploegen, cyclear, Cyclear, CYCLEAR, cyclea, yclear, wielerseizoen, koersen, coureurs"/>
    <meta name="description"
          content="Cyclear is een leuk spel voor mensen die van wielrennen houden, waarbij deelnemers een unieke ploeg samenstellen van twintig wielrenners die in alle wielerwedstrijden gedurende een heel seizoen punten scoren."/>
    <title>{% block title %}Cyclear{% endblock %}{% if is_granted("ROLE_ADMIN") %} - Adminstrator{% else %}{% if is_granted("ROLE_USER") %} - User {% endif %}{% endif %}</title>
    {% block stylesheets %}

        <link href='//fonts.googleapis.com/css?family=Droid+Sans:400' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Raleway:800,700,400' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="all"/>
        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="{{ asset('css/development.css') }}" media="all"/>
        {% endif %}
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/cyclear.js') }}"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}"/>
    <script type="text/javascript">
        var seizoenSlug = {% if app.request.attributes.has('seizoen') %}'{{ app.request.attributes.get('seizoen').slug }}'{% else %}'null'{% endif %};
    </script>
</head>
<body id="cyclear">
<!--Header_section-->
<nav id="main-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cyclear</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="ajax-typeahead form-control" style="width: 300px;" placeholder="Zoek renner..." do-redirect="true">
                </div>
            </form>
            <ul class="nav navbar-nav">
                {% if app.request.attributes.has('seizoen') %}
                    <li>
                        <a href="{{ path('rider_index', {'seizoen': app.request.attributes.get('seizoen').slug}) }}">Renners</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('archief_index') }}">Archief</a></li>

                {% set seizoen = app.request.attributes.get('seizoen') %}
                {% set curSeizoen = getCurrentSeason() %}
                {%- if seizoen and curSeizoen and seizoen.id != curSeizoen.id %}
                    <li><a style="color: #860087"
                           href="{{ path("game", {"seizoen": app.request.attributes.get('seizoen').slug}) }}">{{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                {% endif -%}
                {% if is_granted("ROLE_USER") %}
                    {% include 'user/inc_menu.html.twig' %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    {% include 'admin/inc_menu.html.twig' %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header_section-->

{% block contentcontainer %}
    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}
{% endblock %}

<div id="footer">
    <div class="row">

        <div class="col-lg-4 col-md-offset-2">
            <div>
                <h1 style="margin-top:0;">Cyclear</h1>
                <a href="https://github.com/ErikTrapman/cyclear" target="_blank"><i class="fa fa-2x fa-github"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <ul style="text-decoration: underline">
                {% set seizoen = app.request.attributes.get('seizoen') %}
                {% if seizoen %}
                    <li>
                        <a
                            href="{{ path('spelregels_index', {'seizoen': app.request.attributes.get('seizoen').slug}) }}">Spelregels {{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('rider_index', {'seizoen': app.request.attributes.get('seizoen').slug}) }}">Renners</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('archief_index') }}">Archief</a></li>

                {% set curSeizoen = getCurrentSeason() %}
                {%- if seizoen and curSeizoen and seizoen.id != curSeizoen.id %}
                    <li><a style="color: #860087"
                           href="{{ path("game", {"seizoen": app.request.attributes.get('seizoen').slug}) }}">{{ app.request.attributes.get('seizoen') }}</a>
                    </li>
                {% endif -%}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>
