{% extends '::base.html.twig' %}


{% block content %}
    <div class="big-header hidden-xs hidden-sm">
        <h2>Renners {{ seizoen }}</h2>
    </div>

    <div class="container" ng-controller="riderlistCtrl" ng-cloak>
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filter <a href="{{ path('renner_download', {seizoen: seizoen.slug}) }}"><span
                                        class="glyphicon glyphicon-download-alt"></span></a></h3>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="filter_naam" class="col-sm-2 control-label">Renner</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="filter_naam" type="text"
                                           ng-model="filter.name"
                                           placeholder="Zoek...">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="filter_hasteam"
                                                   ng-model="filter.excludeWithTeam">Beschikbaar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% verbatim %}
                <div id="navigation">
                    <ul class="pagination" ng-if="true == initialLoad && pages.length > 1">
                        <li ng-class="{ disabled: 1 == pagination.currentPage}">
                            <a ng-href="#" ng-click="setPage(pagination.currentPage - 1)">&laquo;&nbsp;Previous</a></li>
                        <li ng-class="{ active: 1 == pagination.currentPage }">
                            <a ng-href="#" ng-click="setPage(1)">1</a></li>
                        <li ng-repeat="page in pagination.options"
                            ng-class="{ active: page == pagination.currentPage }">
                            <a ng-href="#" ng-click="setPage(page)">{{ page }}</a>
                        </li>
                        <li><a ng-href="#" ng-click="setPage(pagination.currentPage + 1)">Next&nbsp;&raquo;</a></li>
                    </ul>
                </div>
                {% endverbatim %}

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Renner</th>
                            <th>Punten</th>
                            <th>Ploeg</th>
                        </tr>

                        <tr ng-repeat="r in riders">
                            {% verbatim %}
                    <td>
                        <img ng-if="initialLoad" style="margin-right:3px; margin-bottom:2px;" width="16" height="16"
                             ng-src="/bundles/cycleargame/icons/flags/16/{{ r.country.iso2 | lowercase }}.png"
                             alt="{{ r.country.name }}">
                        <a ng-href="{{ getUrl(r.slug) }}">{{ r.naam }}</a>
                    </td>
                    <td>{{ r.punten }}</td>
                    <td>{{ r.team }}</td>
                    {% endverbatim %}
                        </tr>

                    </table>
                </div>

            </div>

        </div>

    </div>
{% endblock %}