{% extends '::base.html.twig' %}

{% block title %}{{ renner.naam }}{% endblock %}

{% block content %}

    <div class="span12">
        <h3>
            <div>
            <span>
            {% include "CyclearGameBundle:Country:_image.html.twig" with {'size':32,'country':renner.country } %}{{ renner.naam }}
                {% if ploeg is not null %} - <a
                    href="{{ path('ploeg_show',{'id':ploeg.id,'seizoen':seizoen.slug}) }}">{{ ploeg.afkorting }}</a>{% else %} - vrij{% endif %}
                {% include "CyclearGameBundle:Renner:_singleRowActions.html.twig" with {"renner":renner,"rennerPloeg":ploeg, "seizoen":seizoen } %}
                <a href="http://cqranking.com/men/asp/gen/rider.asp?riderid={{ renner.cqranking_id }}">
                    <img src="/bundles/cycleargame/icons/cqlogo.jpg" width="32" height="32"></a>
            <a href="http://www.procyclingstats.com/find.php?keywords={{ renner.naam }}">
                <img src="/bundles/cycleargame/icons/pcs-icon.png" width="32" height="32"></a>
                {% if renner.twitter %}
                    <a href="https://www.twitter.com/{{ renner.twitter }}" target="_blank">
                        <img src="{{ asset('bundles/cycleargame/icons/twitter.png') }}" width="32" height="32"></a>
                {% endif %}
            </span>
            </div>
        </h3>

        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#uitslagen" data-toggle="tab">Uitslagen</a></li>
            <li><a href="#transfers" data-toggle="tab">Transfers</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="uitslagen">
                {% include "CyclearGameBundle:Uitslag:_listRenner.html.twig" with {'uitslagen':uitslagen,'show_rider':false,'rennerPunten':rennerPunten} %}
            </div>
            <div class="tab-pane" id="transfers">
                {% include "CyclearGameBundle:Transfer:_riderListWithInversion.html.twig" with {'listWithInversion':transfers} %}
            </div>
        </div>
    </div>
{% endblock %}