{% extends '::base.html.twig' %}

{% block title %}{{ renner.naam }}{% endblock %}

{% block content %}

    <div class="big-header" style="margin-bottom: 0;">
        <h2>{% include "CyclearGameBundle:Country:_image.html.twig" with {'size':32,'country':renner.country } %}
            {{ renner.naam }}{% if rennerPunten is defined %} - {{ rennerPunten }}{% endif %}
        </h2>
    </div>
    <div class="big-header-ext" style="">
        <div class="container">
            <div class="col-lg-12">
                {% if ploeg is not null %}
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('ploeg_show',{seizoen: seizoen.slug, id: ploeg.id}) }}">{{ ploeg.naam }}</a>
                        </li>
                        <li>
                            {% include "CyclearGameBundle:Renner:_singleRowActions.html.twig" with {"renner":renner,"rennerPloeg":ploeg, "seizoen":seizoen } %}
                        </li>
                    </ul>
                {% else %}
                    <ul class="list-inline">
                        <li>Beschikbaar</li>
                        <li>
                            {% include "CyclearGameBundle:Renner:_singleRowActions.html.twig" with {"renner":renner,"rennerPloeg":ploeg, "seizoen":seizoen } %}
                        </li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="tab-content">
                    <div class="tab-pane active" id="uitslagen">

                        <div id="filters">
                            <ul id="tabs" class="list-group list-inline">
                                <li>
                                    <a href="http://www.procyclingstats.com/search.php?term={{ renner.naam }}">
                                        <h5><img src="/bundles/cycleargame/icons/pcs-icon.png" width="16"
                                                 height="16"></h5></a>
                                </li>
                                <li>
                                    <a href="http://cqranking.com/men/asp/gen/rider.asp?riderid={{ renner.cqranking_id }}">
                                        <h5><img src="/bundles/cycleargame/icons/cqlogo.jpg" width="16" height="16">
                                        </h5></a>
                                </li>
                                {% if renner.twitter %}
                                    <li><a href="https://www.twitter.com/{{ renner.twitter }}" target="_blank">
                                            <h5><i class="fa fa-twitter"></i></h5></a></li>
                                {% endif %}

                            </ul>
                        </div>

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Ploeg</th>
                                <th>Punten</th>
                                <th>#</th>
                                <th>Wedstrijd</th>
                                <th>Datum</th>
                            </tr>
                            {% for uitslag in uitslagen %}
                                <tr>
                                    <td>{% if uitslag.ploeg %}{{ uitslag.ploeg.afkorting }}{% endif %}</td>
                                    <td>
                                        {% include 'CyclearGameBundle:Uitslag:_singlePoints.html.twig' with {uitslag: uitslag} %}
                                    </td>
                                    <td>{{ uitslag.positie }}</td>
                                    <td>
                                        {% include "CyclearGameBundle:Wedstrijd:_singleRow.html.twig" with {wedstrijd:uitslag.wedstrijd, seizoen:uitslag.wedstrijd.seizoen } %}
                                    </td>
                                    <td>{{ uitslag.wedstrijd.datum|date('d M') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div id="navigation">
                            {{ knp_pagination_render(uitslagen, null, {'seizoen': seizoen.slug}, {'firstPageRoute': 'renner_show'}) }}
                        </div>

                        {% include "CyclearGameBundle:Transfer:_riderListWithInversion.html.twig" with {'listWithInversion':transfers} %}

                    </div>


                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="btn-group btn-group-justified">
                    {% for p in puntenPerSeizoen %}
                        <a class="btn btn-default" href={{ path('renner_show', {seizoen: p.seizoen.slug, renner: renner.slug}) }}>{{ p.seizoen }} - {{ p.punten|default(0) }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}