<table class="table table-bordered table-striped">
    {%- for renner in renners -%}
        <tr>
            <td nowrap>
                {{ '%02d'|format(loop.index) }}
            </td>
            {% if showActions is defined and showActions %}
                {{ include('renner/_singleRowActions.html.twig', {ploeg: entity, renner: renner[0], seizoen: seizoen, rennerPloeg: entity}) }}
            {% endif %}
            <td>
                {{ include('renner/_singleRow.html.twig', {renner: renner[0], seizoen: seizoen}) }}
                {% if not rennerRepo.isDraftTransfer(renner[0], entity) %}
                    <sup><i data-toggle="tooltip" title="Transfer" class="fa fa-euro"></i></sup>
                {% endif %}
            </td>
            <td style="text-align:right;">{{ renner.punten }}</td>
            {% if showContract is defined and showContract and renner[0].latestContract is not null %}
                <td class="hidden-xs hidden-sm">
                    <span data-toggle="tooltip"
                          title="In de ploeg sinds {{ renner[0].latestContract.start|date('d M Y') }} ">{{ renner[0].latestContract.start|format_datetime(pattern='dd MMM') }}</span>
                </td>
            {% endif %}
        </tr>

    {%- endfor -%}

    {% if showTotal is defined and showTotal and total is defined %}
        <tr>
            <td style="text-align:right;" colspan="3">{{ total }}</td>
            {% if showContract is defined and showContract %}
                <td colspan="2"></td>
            {% endif %}
        </tr>
    {% endif %}
</table>
