{% extends '::base.html.twig' %}

{% block title %}
{{ entity.naam }}
{% endblock %}

{% block content %}
<h2>{{ entity.naam }}</h2>

<div class="span12">

    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#ploeg" data-toggle="tab">Ploeg</a></li>
        <li><a href="#punten" data-toggle="tab">Gescoorde punten</a></li>
        <li><a href="#transfers" data-toggle="tab">Transfers</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="ploeg">
            <table class="records_list table ">
                <thead>
                    <tr>
                        <th/>
                        <th>Naam</th>
                        <th>Punten</th>
                        <th>Sinds</th>
                        <th/>
                    </tr>
                </thead>
        {% for renner in renners %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{% include "CyclearGameBundle:Renner:_singleRow.html.twig" with {"renner":renner[0],"seizoen":seizoen } %}</td>
                    <td>{{ renner.punten }}</td>
                    <td>{% if renner[0].latestContract is not null %}{{ renner[0].latestContract.start|date('d-m-Y') }}{% endif %}</td>
                    <td>
                            {% include "CyclearGameBundle:Renner:_singleRowActions.html.twig" with 
                                {"ploeg":entity, "renner":renner[0],"seizoen":seizoen,"rennerPloeg":entity } 
                            %}
                        </td>

                    </tr>
        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="punten">
            {% include "CyclearGameBundle:Uitslag:_listPloeg.html.twig" with {'uitslagen':uitslagen} %}
                </div>
                <div class="tab-pane" id="transfers">
            {% include "CyclearGameBundle:Transfer:_listWithInversion.html.twig" with {'listWithInversion':transfers, 'firstPageRoute' : 'ploeg_show'} %}
                    </div>
                </div>

            </div>
{% endblock %}