{% extends '::admin.base.html.twig' %}

{% block title %}Transfer edit{% endblock %}

{% form_theme edit_form _self %}

{% block _cyclear_gamebundle_transfertype_renner_widget %}
<label class=" control-label required">Renner</label>
<div class="controls">{{ form_widget(form) }}</div>
{% endblock %}

{% block content %}


<h1>Transfer edit</h1>

<form action="{{ path('admin_transfer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_transfer') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}