{% extends '::admin.base_normal.twig' %}

{% block content %}
    <h3>Perioden</h3>

    <table class="table table-bordered table-striped">

        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>Eind</th>
            <th>Transfers</th>
            <th>Seizoen</th>
            <th>&nbsp;</th>
        </tr>


        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_periode_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.eind|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.transfers }}</td>
                <td>{{ entity.seizoen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_periode_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

    </table>

    <div id="navigation">
        {{ knp_pagination_render(entities, null, {}, {'firstPageRoute': 'admin_contract'}) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_periode_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}